#wrapper {
    width: 90%;
    margin: 20px auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px solid red;
    display: inline-block;
    padding: 0 20px 20px 20px;
    width: 150px;
    text-align: center;
}
#activities {
    border: 2px solid black;
    height: 450px;
    overflow: auto;
}
.green {
    color: green;
}
.red {
    color: red;
}